.App {
  font-family: sans-serif;
  text-align: center;
}

table,
th,
td {
  border: 1px solid black;
}

.table {
  max-width: 1200px;
  margin: auto;
}

.pagCont{
  height: 3.5rem;
  text-align: center;
  align-items: center;
}

.rowPersonal{
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.visible-not{
  display: none;
}

.totalPages{
  top: 3px;
  left: 10px;
  white-space: nowrap;  
}

header{
  position: relative;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 50%;
}

